<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/style.css' %}" type="text/css">
    {% block title %}
    <title>Testing Title</title>
    {% endblock %}
  </head>
  <body>
    <header class="">
        <nav class="navbar navbar-expand-lg navbar-dark bg-info">
          <a class="navbar-brand" href="#">Sacred Heart College</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% block home_nav_button %}
              <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
              </li>
                {% endblock %}
                {% block news_nav_button %}
              <li class="nav-item">
                <a class="nav-link" href="#">News</a>
              </li>
                {% endblock %}
                {% block about_nav_button %}
              <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
              </li>
                {% endblock %}
                {% block contact_nav_button %}
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
                {% endblock %}
                {% block careers_nav_button %}
                <li class="nav-item">
                <a class="nav-link" href="#">Careers</a>
              </li>
                {% endblock %}
                {% block login_nav_button %}
                <li class="nav-item">
                <a class="nav-link" href="/home/login">Login</a>
              </li>
                {% endblock %}
                {% block register_nav_button %}
                <li class="nav-item">
                <a class="nav-link" href="/home/register">Register</a>
              </li>
                {% endblock %}
            </ul>
          </div>
        </nav>

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="http://media.moddb.com/images/groups/1/6/5120/Grass_Field.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Slide One</h5>
                    <p>Interesting Feature</p>
                </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="http://farmairinc.net/wp-content/uploads/2017/01/green-grass-field-wallpaper-3.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Slide Two</h5>
                    <p>Another Interesting Feature</p>
                </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://thumbs.dreamstime.com/b/grass-field-2592230.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Slide Three</h5>
                    <p>This is Fantastic</p>
                </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </header>
    <div class="container">
        {% block body %}
            <h1>Welcome to Sacred Heart College, Nteje</h1>
        {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>