{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block home_nav_button %}
<li class="nav-item">
<a class="nav-link active" href="/home/">Home <span class="sr-only">(current)</span></a>
</li>
{% endblock %}