{% extends 'base.html' %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block login_nav_button %}
<li class="nav-item">
<a class="nav-link active" href="/home/login">Login <span class="sr-only">(current)</span></a>
</li>
{% endblock %}

{% block body %}
<h2>You can Login here</h2>
    <p>Both Students and Staff Can login from this single point</p>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-primary" type="submit">Login</button>
        </form>
    </div>
{% endblock %}