{% extends 'base.html' %}

{% block title %}
<title>Register</title>
{% endblock %}

{% block register_nav_button %}
<li class="nav-item">
<a class="nav-link active" href="/home/register">Register <span class="sr-only">(current)</span></a>
</li>
{% endblock %}

{% block body %}
<h2>Registration Page</h2>
    <p>You are welcome, Register with our school here</p>
     <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-primary" type="submit">Register</button>
        </form>
    </div>
{% endblock %}